<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itdfq.cotton.dao.TZdbZytxDAO">

    <resultMap id="tZdbZytxMap" type="com.itdfq.cotton.model.TZdbZytx">
        <id property="id" column="id"/>
        <result property="ziDuanMing" column="zi_duan_ming"/>
        <result property="ziDuanZhi" column="zi_duan_zhi"/>
        <result property="state" column="state"/>
    </resultMap>

    <!--通过ID查询单个-->
    <select id="findById" resultMap="tZdbZytxMap">
        SELECT id,zi_duan_ming,zi_duan_zhi,state FROM t_zdb_zytx
        WHERE id=#{id}
    </select>

    <!--分页查询-->
    <select id="findByPage" resultMap="tZdbZytxMap">
        SELECT id,zi_duan_ming,zi_duan_zhi,state FROM t_zdb_zytx
    </select>

    <!--新增-->
    <insert id="insert">
        INSERT INTO t_zdb_zytx(id,zi_duan_ming,zi_duan_zhi,state)
        VALUES (#{id},#{ziDuanMing},#{ziDuanZhi},#{state})
    </insert>

    <!--修改-->
    <update id="update">
        UPDATE t_zdb_zytx SET zi_duan_ming=#{ziDuanMing},zi_duan_zhi=#{ziDuanZhi},state=#{state}
        WHERE id=#{id}
    </update>

    <!--通过ID删除单个-->
    <delete id="deleteById">
        DELETE FROM t_zdb_zytx
        WHERE id=#{id}
    </delete>

</mapper>